.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.imageCard {
    display: flex;
    width: 400px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.imageCard:hover {
    box-shadow: 0 4px 6px var(--secondary-color);
}